*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


nav{
    background-image:radial-gradient(#151414f9, rgba(6, 5, 5, 0.87) 0), url(./images/background.jpg);
    width: 100%;
    height: 43rem;
    position: relative;
    filter: blur(8%);
    background-size: cover;
    
}

nav div{
    padding: 24px 48px;
    margin: 0 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#logo{
    height: 60px;
    width: 148px;
    margin: 8px 0 0 16px;
}

nav div #sign-in{
    padding: 5px 15px;
    background-color: #E50914;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.header .header-content{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: -20px;
    text-align: center;
    color: #fff;
}

.header .header-content h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-wrap: wrap;
}

.header .header-content p{
    font-size: 24px;
    font-weight: 400;
}

.header .header-content .form input{
    background-color: rgba(0, 0, 0, 0.466);
    border: thin solid rgba(232, 229, 229, 0.353);   
    width: 400px;
    height: 50px;
    padding: 8px 16px 8px;
}

.header .header-content .form a{
    width: 150px;
    height: 50px;
    border-radius: 7px;
    margin-left: 10px;
    background-color: #E50914;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.section-two{
    padding: 72px 0;
    background-color: black;
   
}

.section-two .section-two-container{
    margin: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two .section-two-container .section-two-text{
    padding: 0 6px 0 0;
    color: #fff;
}

.section-two .section-two-container .section-two-text h2{
    font-size: 48px;
    font-weight: 800;
    
}

.section-two .section-two-container .section-two-text p{
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0 0;
}

.section-two .section-two-container .section-two-image {
    position: relative;
}

.section-two .section-two-container .section-two-image video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.section-three{
    padding: 72px 0;
    background-color: black;
    
}

.section-three .section-three-container{
    margin: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three .section-three-container .section-three-text{
    padding: 0 6px 0 0;
    color: #fff;
}

.section-three .section-three-container .section-three-text h2{
    font-size: 48px;
    font-weight: 800;
    
}

.section-three .section-three-container .section-three-text p{
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0 0;
}

.section-three .section-three-container .section-three-image {
    position: relative;
}


.section-four{
    padding: 30px 0;
    background-color: black;
    
}

.section-four .section-four-container{
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-four .section-four-container .section-four-text{
    padding: 0 6px 0 0;
    color: #fff;
}

.section-four .section-four-container .section-four-text h2{
    font-size: 48px;
    font-weight: 800;
    
}

.section-four .section-four-container .section-four-text p{
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0 0;
}

.section-four .section-four-container .section-four-image {
    position: relative;
    opacity: 0;
}


.section-five{
    padding: 72px 0;
    background-color: black;
    
}

.section-five .section-five-container{
    margin: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-five .section-five-container .section-five-text{
    padding: 0 6px 0 0;
    color: #fff;
}

.section-five .section-five-container .section-five-text h2{
    font-size: 48px;
    font-weight: 800;
    
}

.section-five .section-five-container .section-five-text p{
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0 0;
}

.section-five .section-five-container .section-five-image {
    position: relative;
}


.section-six{
    padding: 72px 0;
    background-color: black;
    color: #fff;
}

.section-six .accordion-body .accordion h1 {
    text-align: center;
  }
  
  
  .accordion {
    width: 85%;
    margin: 90px auto;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 45px 45px;
  }

  .accordion .container {
    position: relative;
    margin: 10px 10px;
  }
  

  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .accordion .label::before {
    content: '+';
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  

  
  .accordion .content {
    position: relative;
    background: rgb(0, 0, 0);
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 90%;
    overflow: hidden;
    transition: 0.5s;
  }
  
  
  .accordion hr {
    width: 100%;
    margin-left: 0;
    border: 1px solid rgb(187, 171, 171);
  }

  .accordion .container.active .content {
    height: 150px;
  }
  
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }

  .ready{
    display: block;
    align-items: center;
    justify-content: center;
    margin: -100px 350px 0;
  }

  .ready p{
    font-size: 24px;
    font-weight: 400;
}

.ready input{
    background-color: rgba(0, 0, 0, 0.466);
    border: thin solid rgba(232, 229, 229, 0.353);   
    width: 400px;
    height: 50px;
    padding: 8px 16px 8px;
}

.ready a{
    width: 150px;
    height: 50px;
    border-radius: 7px;
    margin-left: 10px;
    background-color: #E50914;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  /* @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    } }*/
  

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

        /* MEDIA QUERY STARTS HERE */
            /* MEDIA QUERY STARTS HERE */
                /* MEDIA QUERY STARTS HERE */

                /* MEDIA QUERY STARTS HERE */
            /* MEDIA QUERY STARTS HERE */
        /* MEDIA QUERY STARTS HERE */

    @media screen and (max-width: 960px){
        nav div{
            padding: 24px 48px;
            margin: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #logo{
            height: 60px;
            width: 148px;
            margin: 8px 0 0 16px;
        }
        
        nav div #sign-in{
            padding: 5px 15px;
            background-color: #E50914;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            font-weight: 700;
        }
        
        .header .header-content{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: -20px;
            text-align: center;
            color: #fff;
        }
        
        .header .header-content h1{
            font-size: 1.5rem;
            text-wrap: wrap;
            font-weight: 900;
        }
        
        .header .header-content p{
            font-size: 2vw;
            font-weight: 400;
            text-wrap: wrap;
            padding: 0 50px;
        }
        .header .header-content .form{
            display: block;
            width: auto;
            height: auto;
        }
        .header .header-content .form input{
            background-color: rgba(0, 0, 0, 0.466);
            border: thin solid rgba(232, 229, 229, 0.353);   
            width: 400px;
            height: 50px;
            padding: 8px 16px 8px;
            margin: 20px 0;
            
        }
        
        .header .header-content .form a{
            width: 150px;
            height: 50px;
            border-radius: 7px;
            margin-left: 10px;
            background-color: #E50914;
            padding: 10px;
            text-decoration: none;
            color: #fff;
        }
        
        .section-two{
            padding: 72px 0;
            background-color: black;
           
        }
        
        .section-two .section-two-container{
            margin: 0 150px;
            display: block;
            align-items: center;
            justify-content: center;
        }
        
        .section-two .section-two-container .section-two-text{
            padding: 0 6px 0 0;
            color: #fff;
            text-align: center;
        }
        
        .section-two .section-two-container .section-two-text h2{
            font-size: 32px;
            font-weight: 800;
            
        }
        
        .section-two .section-two-container .section-two-text p{
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0 0;
        }
        
        .section-two .section-two-container .section-two-image {
            position: relative;
        }
        

        .section-two .section-two-container .section-two-image img{
            width: 100%;
            max-width: 400px;
            height: auto;
        }
        .section-two .section-two-container .section-two-image video{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            max-width: 400px;
            height: auto;
        }
        
        
        .section-three{
            padding: 72px 0;
            background-color: black;
            
        }
        
        .section-three .section-three-container{
            margin: 0 150px;
            display: block;
            align-items: center;
            justify-content: center;
        }
        
        .section-three .section-three-container .section-three-text{
            padding: 0 6px 0 0;
            color: #fff;
            text-align: center;
        }
        
        .section-three .section-three-container .section-three-text h2{
            font-size: 32px;
            font-weight: 800;
            
        }
        
        .section-three .section-three-container .section-three-text p{
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0 0;
        }
        
        .section-three .section-three-container .section-three-image {
            position: relative;
        }
        
        .section-three .section-three-container .section-three-image img{
            width: 100%;
            max-width: 400px;
            height: auto;
        }
        
        .section-four{
            padding: 30px 0;
            background-color: black;
            
        }
        
        .section-four .section-four-container{
            margin: 0 200px;
            display: block;
            align-items: center;
            justify-content: center;
        }
        
        .section-four .section-four-container .section-four-text{
            padding: 0 6px 0 0;
            color: #fff;
            text-align: center;
        }
        
        .section-four .section-four-container .section-four-text h2{
            font-size: 32px;
            font-weight: 800;
            
        }
        
        .section-four .section-four-container .section-four-text p{
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0 0;
        }
        
        .section-four .section-four-container .section-four-image {
            position: relative;
            opacity: 0;
        }
        
        
        .section-five{
            padding: 72px 0;
            background-color: black;
            
        }
        
        .section-five .section-five-container{
            margin: 0 150px;
            display: block;
            align-items: center;
            justify-content: center;
        }
        
        .section-five .section-five-container .section-five-text{
            padding: 0 6px 0 0;
            color: #fff;
            text-align: center;
        }
        
        .section-five .section-five-container .section-five-text h2{
            font-size: 32px;
            font-weight: 800;
            
        }
        
        .section-five .section-five-container .section-five-text p{
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0 0;
        }
        
        .section-five .section-five-container .section-five-image {
            position: relative;
            
        }

        .section-five .section-five-container .section-five-image img{
            width: 100%;
            max-width: 400px;
            height: auto;
        }
        
        
        .section-six{
            padding: 72px 0;
            background-color: black;
            color: #fff;
        }
        
        .section-six .accordion-body .accordion h1 {
            text-align: center;
          }
          
          
          .accordion {
            width: 85%;
            margin: 90px auto;
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
            padding: 45px 45px;
          }
        
          .accordion .container {
            position: relative;
            margin: 10px 10px;
          }
          
        
          
          .accordion .label {
            position: relative;
            padding: 10px 0;
            font-size: 30px;
            color: rgb(255, 255, 255);
            cursor: pointer;
          }
        
          .accordion .label::before {
            content: '+';
            color: rgb(255, 255, 255);
            position: absolute;
            top: 50%;
            right: -5px;
            font-size: 30px;
            transform: translateY(-50%);
          }
          
        
          
          .accordion .content {
            position: relative;
            background: rgb(0, 0, 0);
            height: 0;
            font-size: 20px;
            text-align: justify;
            width: 90%;
            overflow: hidden;
            transition: 0.5s;
          }
          
          
          .accordion hr {
            width: 100%;
            margin-left: 0;
            border: 1px solid rgb(187, 171, 171);
          }
        
          .accordion .container.active .content {
            height: 150px;
          }
          
          
          .accordion .container.active .label::before {
            content: '-';
            font-size: 30px;
          }
        
          .ready{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -100px 150px 0;
          }
          
          .ready .form{
            display: flex;
          }
          .ready p{
            font-size: 18px;
            font-weight: 400;
        }
        
        .ready input{
            background-color: rgba(0, 0, 0, 0.466);
            border: thin solid rgba(232, 229, 229, 0.353);   
            width: 200px;
            height: 50px;
            padding: 8px 8px 8px;
        }
        
        .ready a{
            width: 150px;
            height: 50px;
            border-radius: 7px;
            margin-left: 10px;
            background-color: #E50914;
            padding: 15px;
            text-decoration: none;
            color: #fff;
        }
        
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
        
          .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
          }
        
          .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
          }
        
          .bi {
            vertical-align: -.125em;
            fill: currentColor;
          }
        
          .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
          }
        
          .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
          }
        
          .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
        
            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
          }
        
          .bd-mode-toggle {
            z-index: 1500;
          }
        
          .bd-mode-toggle .dropdown-menu .active .bi {
            display: block !important;
          }
    }
 